*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    cursor: pointer;
    grid-gap: 10px;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top-left top-center top-right"
                          "top-left center bottom-right"
                          "bottom-left bottom-left bottom-right";
                          overflow: hidden;
}
#top-left{
    background-color: yellow;
    grid-area: top-left;
    overflow: hidden;
}
#bottom-left{
    background: linear-gradient(blue,red,black);
    grid-area: bottom-left;
    padding: 50px;
}
#top-center{
    background-color: darkblue;
    grid-area: top-center;
    overflow: hidden;
}
#center{
  background: linear-gradient(red,black);
  grid-area: center;
  overflow: hidden;
}
#top-right{
    background-color: aquamarine;
    grid-area: top-right;
    overflow: hidden;
}
#bottom-right{
    background-color: orange;
    grid-area: bottom-right;
    overflow: hidden;
}
#top-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all ease 0.8s;
}
#center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.8s;
}
#top-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.8s;
}
#bottom-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.8s;
}
#top-center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.8s;
}
#bottom-left h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    transition: all ease 0.8s;
}
#top-left:hover img{
    scale: 1.2;
}
#bottom-right:hover img{
    scale: 1.2;
}
#center:hover img{
    scale: 1.2;
}
#top-center:hover img{
    scale: 1.2;
}
#top-right:hover img{
    scale: 1.2;
}
#bottom-left:hover h1{
    scale: 1.2;
}