*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "java buttom-top header"
                          "java buttom-down marco"
                           "footer footer marco";
}
header{
    background-color: darkgrey;
    grid-area: header;
}
#java{
    background-color: darkblue;
    grid-area: java;
}
#buttom-top{
    background-color: darkmagenta;
    grid-area: buttom-top;
}
#buttom-down{
    background-color: darksalmon;
    grid-area: buttom-down;
}
#marco{
    background-color: darkred;
    grid-area: marco;
}
footer{
    background-color: darkolivegreen;
    grid-area: footer;
}