*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    section{
        height: 100%;
        flex-grow: 1;
        background-position: center;
        background-size: cover;
    }
    section:nth-chlid(1){
        background-image: url(https://english.cdn.zeenews.com/sites/default/files/2023/04/12/1182381-gallerydhoni.jpg);
    }
    section:nth-chlid(2){
        background-image: url(https://i.pinimg.com/736x/d3/25/7f/d3257f673f81112393027576e1b5d8fa.jpg);
    }
    section:nth-chlid(3){
        background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202312/rohit-sharma-150912105-16x9_0.jpg?VersionId=YcRv3AVV0gk_E3FyT.pGoTXXJsp1YkQP);
    }
    section:nth-chlid(4){
        background-image: url(https://wallpapercave.com/wp/wp8126952.jpg);
    }
    section:nth-chlid(5){
        background-image: url(https://thethoughtoftheday.com/admin/uploads/articleimage/1711301710_hardik-pandya4.jpg);
    }
}