*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    overflow: hidden;
}
section{
    height: 100%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all ease 0.9s;
}
section:hover{
    flex-grow: 3;
    scale: 1;
}
section:nth-child(1){
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Li7l1Ps_zrQSyFufD-b-YwHaM0?rs=1&pid=ImgDetMain&o=7&rm=3);
}
section:nth-child(2){
    background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/styles/medium_crop_simple/public/2024-01/kohli.jpg?VersionId=GgfNNNYG_4EcgFjDpmcaFu12vuFhqWBP&size=750:*);
}
section:nth-child(3){
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.491dgjHyeE4xe23hhExXVQHaNK?w=1080&h=1920&rs=1&pid=ImgDetMain&o=7&rm=3);
}
section:nth-child(4){
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.I-yrsme1N6lHCjvzBlGPdwHaJ4?w=900&h=1200&rs=1&pid=ImgDetMain&o=7&rm=3);
}
section:nth-child(5){
    background-image: url(https://i.pinimg.com/736x/41/dc/26/41dc2634bd0fb3fe569778754cb476fd.jpg);
}